<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="No list indexes">
            <match url="&quot;(^|/)\.&quot;" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{HTTPS}" pattern="on" ignoreCase="false" />
            </conditions>
            <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Protect files and directories" stopProcessing="true">
          <match url="\.(PowerCMS|App|powercms|engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)$|^(\..*|Entries.*|Repository|Root|Tag|Template)$" />
          <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Access is forbidden." />
        </rule>
        <rule name="Short URLs" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Public/index.php?powercms_route={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Public/index.php" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <remove value="/Public/index.php" />
        <add value="/Public/index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

