RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$              ./index.php?powercms_route=$1&%{QUERY_STRING} [QSA,L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI}      ^.+\.(jpg|bmp|png|jpeg|gif)$ [NC]
RewriteCond %{QUERY_STRING}     ^.*(w|h)=([0-9]+).*$ [NC]
RewriteRule ^(.*)$              ./index.php?powercms_route=$1&%{QUERY_STRING} [QSA,L]